.ibm-plex-mono-regular {
    font-family: "IBM Plex Mono", monospace;
    font-weight: 400;
    font-style: normal;
  }

.ibm-plex-mono-bold {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 700;
  font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Основные стили */
body {
    font-family: "IBM Plex Mono", monospace;
    margin: 0;
    padding: 0;
    background-color: #354452;
    color: #F3C623;
}

h2 {
    font-weight: bold;
    font-size: 56px;
}

/* HEADER */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
    border-bottom: 1px solid #000000;
    
}

.header-title {
    font-size: 44px;
    font-weight: bold;
}

.header-icons {
    display: flex;
    gap: 15px;
}

.header-icons a {
    color: #F3C623;
    font-size: 44px; /* Размер иконок */
    text-decoration: none; /* Убираем подчеркивание */
    transition: color 0.3s ease; /* Плавное изменение цвета */
}

.header-icons a:hover {
    color: #000000; /* Цвет при наведении (например, синий) */
}

/* Секция "О НАС" */

.about {
    display: grid;
    grid-template-areas:
        "left center right"
        "image image image";
    grid-template-columns: 1fr auto 1fr; /* Три столбца: левый текст, стрелка, правый текст */
    grid-template-rows: auto auto 1fr; /* Три строки */
    min-height: 50vh; 
}
.text_about_left {
    grid-area: left; /* Размещаем в левом верхнем углу */
    justify-self: start;
    align-self: center;
    font-size: 24px;
    font-weight: bold;
}

.text_about_right {
    grid-area: right; /* Размещаем в правом верхнем углу */
    justify-self: end;
    align-self: center;
    text-align: right;
    font-size: 24px;
    font-weight: bold;
}

.big_logo_about{
    grid-area: image; /* Размещаем по центру */
    justify-self: center;
    align-items: center;
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}


/* Секция "Профлист" */
.prof_list {
    display: grid;
    grid-template-areas:
        "title title title"
        "about price price"
        "svg svg svg";
    grid-template-columns: 1fr 1fr 1fr; /* Три равных столбца */
    grid-template-rows: auto auto 1fr; /* Три строки: заголовок, контент, SVG */
    min-height: 100vh; /* Высота контейнера на весь экран */
    padding: 20px;
    gap: 10px; /* Расстояние между элементами */
    background-image: url('image/prof_list_photo.jpg'); /* Фоновое изображение */
    background-size: cover; /* Растягиваем изображение на всю секцию */
    background-position: center; /* Центрируем изображение */
    background-repeat: no-repeat; /* Запрещаем повторение */
    border: 1px solid #ddd; /* Граница для наглядности */
    border-radius: 8px; /* Скругление углов */
}


.title_prof_list {
    grid-area: title;
    justify-self: start;
    margin: 0; /* Убираем отступы по умолчанию */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);;
}

.about_prof_list {
    grid-area: about;
    justify-self: start;
    margin: 10%; /* Убираем отступы по умолчанию */
    background-color: #00000069;
    font-size: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);;
    padding: 8px;
    border-radius: 8px;
}

.price_prof_list {
    grid-area: price;
    justify-self: end;
    margin: 10%; /* Убираем отступы по умолчанию */
    font-size: 35px;
    font-weight: bold;
    text-align: right;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);;
}

.prof_list_svg {
    grid-area: svg;
    justify-self: center; /* Центрирование по горизонтали */
    align-self: center; /* Центрирование по вертикали */
    max-width: 100%; /* Ограничение ширины изображения */
    height: auto; /* Сохранение пропорций */
    margin: 0; /* Убираем отступы по умолчанию */
}

main {
    padding: 20px;
}

section {
    margin-bottom: 20px;
}

footer {
    background-color: #333;
    color: #F3C623;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}